<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.springboot.example.repository.IUserMapper">
    <insert id="insert" parameterType="User">
        INSERT INTO user
        (userName, age)
        VALUES
        (#{name}, #{age})
    </insert>

    <delete id="delete">
        DELETE FROM user
        WHERE
        id = #{id}
    </delete>

    <update id="update">
        UPDATE user
        <set>
            <if test="name != null">
                userName = #{name},
            </if>

            <if test="age != null">
                age = #{age}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="User">
        SELECT id, userName as name, age, createTime
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="User">
        SELECT id, userName as name, age, status, createTime
        FROM user
    </select>

    <select id="selectAllByCondition" parameterType="User" resultType="User">
        SELECT id, userName as name, age, createTime
        FROM user
        <where>
            <if test="isOnlyActive">
                status = 1
            </if>

            <if test="name != null">
                AND userName = #{name}
            </if>

            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
    </select>
</mapper>